node_modules/
*.lock
*.tgz


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dist/
# dist-ssr/
build/
.vite/

dist/
node_modules/
_mf_temp/
.mf_temp/

# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo


.dockerignore

docker-compose.yml

coverage/
